body {
	background-image: url(images/background.jpg);
	background-attachment: fixed;
	background-size: cover;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

header {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	font-size: 35px;
}

header img {
	width: 50%;
	min-width: 200px;
}


h1 {
	margin: 50px 0;
	font-weight: 300;
	letter-spacing: 20px;
}

main {
	width: 1000px;
	background-color: rgba(0, 0, 0, 0.7);
	margin: 0px auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: 
	"info twitter"
	"rover_img rover_img"
	"crater crater_img"
	"goal_img goal"
	"name name_img"
	"instruments_img instruments"
	"links nasa_img";
	padding: 30px;
	border-radius: 8px;
	font-size: 20px;

} 

#rover_img {
	grid-area: rover_img;
}

.text {
	padding: 10px;
}

figcaption {
	font-size: 15px;
}

main img{
	width: 100%;
	margin-top: 100px;
	border-radius: 5px;
}

.italic_span {
	font-style: italic;
	font-weight: 400 !important;
}

#info span, #links span, #specs span {
	font-weight: 700;
}

main a {
	text-decoration: none;
	color: #ff6768;
}

main a:hover {
	color: #dd4546;
}

footer {
	background-color: rgba(217, 90, 59, 0.6);
	text-align: center;
	height: 35px;
	/*width: 100%;*/
	padding-top: 8px;
	border-radius: 8px;
	margin: 10px;
}